



/*------------------------------------*\
    $UTILIDADES
\*------------------------------------*/



/*------------------------------------*\
    $GRID Y MÁRGENES
\*------------------------------------*/
gutter = 16px





/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/**
 * ^modules ^home ^course-feed
 */
.ModuleA
	margin-top 50px
	margin-right (gutter/2)
	margin-left (gutter/2)
	margin-bottom 50px
.ModuleB
	margin-top 50px
	margin-bottom 50px

/**
 * ^header
 */
.Main-header
	background-color primary-color
	padding gutter
	.Title
		color white
		margin-bottom  ( 34px / 2)
	.Subtitle
		color white

/**
 * ^banner
 */
.Landing-banner__outer
	text-align center
.Landing-banner__title
	margin-bottom 24px

/**
 * ^loop ^course ^category ^post
 */
.Category
	margin-bottom 30px
.Category-1
	.Category__header
		background-color link-color
.Category-2
	.Category__header
		background-color green		
.Category__header
	padding gutter
	color white
	text-transform uppercase
	border-radius 10px 10px 0 0
.Course-post
	display -webkit-box
	display -webkit-flex
	display -moz-flex
	display -ms-flexbox
	display flex
	justify-content space-around
	padding gutter
	padding-top (gutter * 1.5 )
	padding-bottom (gutter * 1.5 )
	border-bottom 1px solid divider
.Cours-post__header
	margin-left gutter
.Course-post__logo
	-webkit-order -1
	order -1
	img
		width 60px
		height auto
.Course-post__link
	width 110px
	a
		color link-color 
	
/**
 * ^footer
 */
.footer
	background-color rgba(black,.8)
	padding gutter
	color white
.module-footer
	display table
.footer-item
	display table-cell
	padding gutter

	
/**
 * ^course-page ^header
 */
.Course-header
	background-color orange
	padding gutter
.Course-header__title
	color white
.Course-header__subtitle
	color white


/**
 * ^course-page ^widgets-html ^ideal-para
 */
.Ideal-para
	display table
	background-color gray
.Content
	display table-cell
	





















