



/*------------------------------------*\
    $UTILIDADES
\*------------------------------------*/




/*------------------------------------*\
    $TIPOGRAFÍA
\*------------------------------------*/
.display4
	font-size 112px
	font-weight 300
	color rgba(#000000,.54) 
.display3
	font-size 56px
	font-weight 300
	color rgba(#000000,.54)
.display2
	font-size 45px
	font-weight 400
	line-height 48px
	color rgba(#000000,.54)
.display1
	font-size 34px
	font-weight 400
	line-height 40px
	margin-bottom 30px
	color rgba(#000000,.54)
.headline
	font-size 24px
	font-weight 400
	line-height 32px
	margin-bottom .5em
	color rgba(#000000,.87)
.title
	font-size 20px
	font-weight 400
	line-height 32px
	margin-bottom 32px
	color rgba(#000000,.87)
	&:last-child
		margin-bottom 0
.subhead2
	font-size 16px
	font-weight 400
	line-height 28px
	color rgba(#000000,.87)
.subhead1
	font-size 16px
	font-weight 400
	line-height 24px
	color rgba(#000000,.87)
.body2
	font-size 14px
	font-weight 400
	line-height 24px
	margin-bottom .5em
	color rgba(#000000,.87)
.body1
	font-size 14px
	font-weight 400
	line-height 20px
	margin-bottom .5em
	color rgba(#000000,.87)
.caption
	font-size 15px
	font-weight 400
	color rgba(#000000,.54)
/**
 * La clase de estos dos tipos de fuente llevan
 * -font al final, mientras que todos los demás
 * no lo llevan
 */
.menu-font
	font-size 14rem
	font-weight medium
	color rgba(#000000,.87)
.button-font
	font-size 14rem
	font-weight medium
	color rgba(#000000,.87)
	text-transform uppercase




/*------------------------------------*\
    $GRID Y MÁRGENES
\*------------------------------------*/
gutter = 16px
/**
 * ^modules ^margins
 */
.Module-outer
	margin-right (gutter/2)
	margin-left (gutter/2)
.Module-outer1
	padding-right (gutter/2)
	padding-left (gutter/2)
.Module-inner
	margin-top 30px
	margin-bottom 30px
.Module-inner1
	padding-top 30px
	padding-bottom 30px
	

/**
 * ^modules ^text-formating
 */	
.Module-body__center
	text-align center
	
	
/**
 * ^modules ^list
 */	
// .Module-list
// 	text-align center
// .Module-item





/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/**
 * ^header
 */
.Main-header
	background-color primary-color
	padding gutter
	padding-top (gutter*3)
	padding-bottom (gutter*3)
	.Title
		color white
		margin-bottom  ( 34px / 2)
	.Subtitle
		color white

/**
 * ^banner
 */
.Landing-banner__outer
	text-align center
.Landing-banner__title
	margin-bottom 24px

/**
 * ^loop  ^course  ^category  ^post
 */
.Category
	margin-bottom 30px
.Category-1
	.Category__header
		background-color link-color
.Category-2
	.Category__header
		background-color green		
.Category__header
	padding gutter
	color white
	text-transform uppercase
	border-radius 10px 10px 0 0
.Course-post
	display -webkit-box
	display -webkit-flex
	display -moz-flex
	display -ms-flexbox
	display flex
	justify-content space-around
	padding gutter
	padding-top (gutter * 1.5 )
	padding-bottom (gutter * 1.5 )
	border-bottom 1px solid divider
.Cours-post__header
	margin-left gutter
.Course-post__logo
	-webkit-order -1
	order -1
	img
		width 60px
		height auto
.Course-post__link
	width 110px
	a
		color link-color 
	
/**
 * ^footer
 */
.footer
	background-color rgba(black,.8)
	padding gutter
	color white
.module-footer
	display table
.footer-item
	display table-cell
	padding gutter

	
/**
 * ^course-page  ^header
 */
.Course-header
	background-color orange
	padding gutter
.Course-header__title
	color white
.Course-header__subtitle
	color white





/*------------------------------------*\
    $WIDGETS-HTML
\*------------------------------------*/
/**
 * ^course-page  ^ideal-para
 */
.Ideal-para
	display table
	background-color gray

/**
 * ^course-page  ^aprenderas
 */
.Aprenderas
	background-color lightgray
.Aprenderas__list
	margin-left gutter
	// padding-left gutter
	

/**
 * ^course-page  ^detalle
 */
.Duracion
	display table
	color rgba(#000000,.54)
	.left
		display table-cell
		p
			font-size 45px
			font-weight 700
			letter-spacing 0
	.right
		display table-cell
		vertical-align top	
		padding-top (gutter / 2)
		padding-left (gutter / 4)
		p
			line-height 1.1em
		.hour
			text-transform uppercase
			font-weight 300	
			font-size 1em
		.type-course
			text-transform uppercase
			font-weight 500	
			font-size 1.2em





/*------------------------------------*\
    $MENU
\*------------------------------------*/
/**
 * ^menu ^header
 */
.Nav-header 
	background-color primary500
	padding gutter
	flex()
	justify(space-between)
.Nav-header__logo
	text-decoration none
	font-weight bold
	color rgba(black,.8)
	
.Nav__list
	list-style none
	li
		margin-left gutter
		margin-right gutter
		a
			text-decoration none
			font-weight bold
			color rgba(black,.8)
	
	





















